<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->  
<mapper namespace="com.src.mapper.UserMapper">  

    <!-- insert user -->
    <insert id = "insert" parameterType="com.src.entity.User">
        INSERT INTO T_USER(ID,USERNAME,PASSWORD,AGE) VALUES(#{id},#{username},#{password},#{age});
    </insert>
    
    <!-- update user -->
    <update id="update" parameterType="com.src.entity.User">
        UPDATE USER SET USERNAME=#{username} , PASSWORD=#{password} , AGE = #{age} WHERE ID=#{id}
    </update>
    
    <!-- find user -->
    <select id="find" parameterType="int" resultType="com.src.entity.User">
        SELECT ID,USERNAME,PASSWORD,AGE FROM T_USER WHERE ID=#{id}
    </select>
    
    <!-- delete user -->
    <delete id="delete" parameterType="int">
        DELETE FROM USER WHERE ID=#{0}
    </delete>
</mapper>